@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

.logo {
    flex: 1;
    color: gold;
    font-family:"Montserrat";
    font-weight:bold;
    cursor: "pointer";
    text-decoration: none;
  }
.logo:hover{
    color:rgba(255, 217, 0, 0.837);
}