.modal{
    color:gold;
    display:flex;
    align-items:center;
    justify-content:center;
}
.paper{
    color:gold;
    width:400; 
    background-color:gray;
    color: white;
    border-radius: 10;
}

/* position: "absolute",
top: "50%",
left: "50%",
transform: "translate(-50%, -50%)",
width: 800,
bgcolor: "white",
border: "2px solid #000",
boxShadow: 24,
p: 2, */

@media screen and (max-width:600px) { 
    .login{
        display:none;
    }  
    
    
}





